version: "3.8"

services:
  nginx:
    image: ${DOCKER_ORG:-likpiits}/multi-nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - client
      - api
    logging:
      driver: awslogs
      options:
        awslogs-group: /ecs/multi-nginx
        awslogs-region: ${AWS_REGION:-eu-north-1}
        awslogs-stream-prefix: ecs
        awslogs-create-group: "true"

  client:
    image: ${DOCKER_ORG:-likpiits}/multi-react
    restart: always
    expose:
      - "3000"
    logging:
      driver: awslogs
      options:
        awslogs-group: /ecs/multi-client
        awslogs-region: ${AWS_REGION:-eu-north-1}
        awslogs-stream-prefix: ecs
        awslogs-create-group: "true"

  api:
    image: ${DOCKER_ORG:-likpiits}/multi-server
    restart: always
    expose:
      - "5000"
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT:-6379}
      PGUSER: ${PGUSER}
      PGHOST: ${PGHOST}
      PGPASSWORD: ${PGPASSWORD}
      PGDATABASE: ${PGDATABASE}
      PGPORT: ${PGPORT:-5432}
    logging:
      driver: awslogs
      options:
        awslogs-group: /ecs/multi-api
        awslogs-region: ${AWS_REGION:-eu-north-1}
        awslogs-stream-prefix: ecs
        awslogs-create-group: "true"

  worker:
    image: ${DOCKER_ORG:-likpiits}/multi-worker
    restart: always
    environment:
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT:-6379}
    logging:
      driver: awslogs
      options:
        awslogs-group: /ecs/multi-worker
        awslogs-region: ${AWS_REGION:-eu-north-1}
        awslogs-stream-prefix: ecs
        awslogs-create-group: "true"
